.icon {
    width: rem(22px);
    height: rem(22px);
  }
  
  .dark {
    @mixin dark {
      display: none;
    }
  
    @mixin light {
      display: block;
    }
  }
  
  .light {
    @mixin light {
      display: none;
    }
  
    @mixin dark {
      display: block;
    }
  }

  .title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: rem(25px);
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-gray));
  }
  .title1 {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: rem(45px);
    font-weight: 1000;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
  }